{% extends 'work_evid/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} {% trans 'firm detail' %} {% endblock %}
{% block page_body %}
<h2>{% trans 'Firm detail' %}</h2>
<table>
    <tbody>
        <tr>
            <th>{% trans 'firm name' %}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{% trans 'period' %}</th>
            <td class="center">{{ object.periode }}</td>
        </tr>
        <tr>
            <th>{% trans 'from date' %}</th>
            <td>{{ object.from_date }}</td>
        </tr>
        <tr>
            <th>{% trans 'description' %}</th>
            <td>{{ object.description }}</td>
        </tr>
    </tbody>
</table>
<div style="margin-top: 6px;">
<a href="{% url 'work_evid:firm_list' %}">
    <button type="button">
  <img src="{% static 'work_evid/images/icon_list_16.png' %}" alt="{% trans 'list' %}">
    {% trans 'To list' %}
    </button></a>
<a href="{% url 'work_evid:firm_update' object.pk %}">
    <button type="button">
  <img src="{% static 'work_evid/images/icon_edit_16.png' %}" alt="{% trans 'update' %}">
    {% trans 'Update' %}
    </button></a>
</div>
{% endblock %}