{% extends 'work_evid/base.html' %}
{% load i18n %}
{% block title %} {% trans 'firm list' %} {% endblock %}
{% block page_body %}
<h2>{% trans 'Firms list' %}</h2>
    <table>
        <thead>
            <tr>
                <th>{% trans 'firm name' %}</th>
                <th>{% trans 'period' %}</th>
                <th>{% trans 'from date' %}</th>
                <th>{% trans 'description' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td class="center">{{ object.periode }}</td>
                <td>{{ object.from_date }}</td>
                <td>{{ object.description|truncatewords:20 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </fieldset>
</form>
{% endblock %}