{% extends 'work_evid/base.html' %}
{% load i18n %}
{% block title %} {% trans 'main page' %} {% endblock %}
{% block page_body %}
<h2>{% trans 'New Work' %}</h2>
<form action="{% url 'work_evid:index' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <table>
        <thead>
            <tr><th colspan="4">{{ form.non_field_errors }}</th></tr>
        </thead>
        <tbody>
    {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}:</td>
                <td>{{ field }}</td>
                <td>{{ field.help_text }}</td>
                <td>{{ field.errors }}</td>
            </tr>
    {% endfor %}
            <tr><td colspan="4"><input type="submit"></td></tr>
        </tbody>
    </table>
</form>

<form action="{% url 'work_evid:index' %}" method="post" style="margin-top: 30px;">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Last Works' %}</legend>
<table>
    <thead>
        <th>{% trans 'select' %}</th>
        <th>{% trans 'firm' %}</th>
        <th>{% trans 'work date' %}</th>
        <th>{% trans 'item price' %}</th>
        <th>{% trans 'items' %}</th>
        <th>{% trans 'what we did' %}</th>
    </thead>
    <tfoot>
        <tr style="background-color: #EEE;">
            <td>&nbsp;</td>
            <td>{% trans 'What to do' %}?</td">
            <td style="text-align: right;">
                {% trans 'Delete' %}: <input type="radio" name="action" value="delete"><br>
                {% trans 'Edit' %}: <input type="radio" name="action" value="edit" checked>
            </td>
            <td><input type="submit" id="action_submit" disabled></td>
        </tr>
    </tfoot>
    <tbody>
        {% for work in works %}
        <tr>
            <td style="text-align: center; background-color: #EEE;">
                <input type="radio" name="pk" value="{{ work.pk }}"
                onclick="javascript: document.getElementById('action_submit').disabled=false">
            </td>
            <td>{{ work.firm.name }}</td>
            <td class="right">{{ work.date }}</td>
            <td class="right_pad">{{ work.item_price }}</td>
            <td class="right_pad">{{ work.items }}</td>
            <td
                {% if work.what_detailed %}
                title="{{ work.what_detailed }}"
                {% endif %}
                >{{ work.what_brief }}
            {% if work.what_detailed %} <span style="float: right;">&nbsp;&raquo;</span> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </fieldset>
</form>
{% endblock %}
