{% extends 'work_evid/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} {% trans 'todo detail' %} {% endblock %}
{% block page_body %}
<h2>{% trans 'Todo detail' %}</h2>

{% include 'work_evid/todo_detail_table.html' %}

<div style="margin-top: 6px;">
<a href="{% url 'work_evid:todo_list' %}">
    <button type="button">
  <img src="{% static 'work_evid/images/icon_list_16.png' %}" alt="{% trans 'list' %}">
    {% trans 'To list' %}
    </button></a>
<a href="{% url 'work_evid:todo_update' object.pk %}">
    <button type="button">
  <img src="{% static 'work_evid/images/icon_edit_16.png' %}" alt="{% trans 'update' %}">
    {% trans 'Update' %}
    </button></a>
</div>
{% endblock %}